h1,
h2,
h3 {
  font-weight: 700;
}

.swagger-ui .info {
  margin: 20px 0 0 0;
}

.scheme-container {
  margin: 0;
  padding-top: 10px;
}

.swagger-ui .execute-wrapper {
  padding: 0;
}

.swagger-ui .btn.execute {
  margin: 0 20px 20px 20px;
}

.swagger-ui .execute-wrapper .btn {
  width: calc(100% - 40px);
}

.swagger-ui .opblock-tag {
  margin-bottom: 12px;
}

.swagger-ui .opblock .opblock-summary {
  padding: 6px 12px 6px 6px;
}

.swagger-ui .model-box-control:focus,
.swagger-ui .models-control:focus,
.swagger-ui .opblock-summary-control:focus {
  outline: none;
}

.swagger-ui .scheme-container {
  padding: 0 0 30px 0;
}

.swagger-ui section.models.is-open h4 {
  height: 40px;
  margin-bottom: 18px;
  margin-top: 9px;
}
.swagger-ui .opblock-body pre.microlight {
  padding: 1em !important;
  min-height: auto !important;
}
